.tool-bar{
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
}
.tool-add{
	flex: 1;
}
.tool-search{
	flex: 1;
	text-align: right;
}
.search-icon{
	border: 1px solid #1890ff;
    padding: 5px 4px 4px 4px;
    color: #1890ff;
}
.option-update{
	display: inline-flex;
    margin-right: 10px;
}